<form [formGroup]="ReservationF" (ngSubmit)="addReservation()">
    <label for="idReservation">num  reservation:</label>
    <input type="text" id="idReservation" formControlName="idReservation" placeholder="Ex: R001" required>

    <label for="anneeUniversitaire">Année Universitaire:</label>
    <input type="text" id="anneeUniversitaire" formControlName="anneeUniversitaire" placeholder="Ex: 2023-2024" required>

    <label for="estValide">Est Valide:</label>
    <select id="estValide" formControlName="estValide" required>
        <option value="" disabled selected>Choisir</option>
        <option value="true">Oui</option>
        <option value="false">Non</option>
    </select>

    <button type="submit" class="submit-btn">Ajouter</button>
</form>
